.country-container {
  width: 700px;
}
.country-block {
  display: inline-block;
  align-items: left;
  padding: 20px;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
}
